<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}

  <p>First text area is for positions (insert new line between numbers)

Second text area is for values (insert new line between numbers)

Third text area is for first string

Fourth text area is for second string

It calculates the sum of ascii value of the characters at specified positions of strings.
The positions are in the first text area.
Then, the values is subtracted from the sum. After that, the sum is printed.
If any parameter is empty or any value is negative, the result will be -1.</p>
  <br>
  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

